<div id="${id}" dojoAttachPoint="containerNode" widgetsintemplate="true" class="dijit dijitReset dijitLeft dijitInline">    
  <div id="${id}.ddButton" dojotype="dijit.form.DropDownButton" iconclass="iconZoomer">
    <span>Zoom To...</span>    
    <div id="${id}.ddDialog" dojotype="dijit.TooltipDialog" title="Zoom To" dojoAttachPoint="dialog">
      <div id="${id}.stateContainer" style="padding: 0 0 10px 0;">
        <label for="${id}.stateInput">State:</label>
        <input id="${id}.stateInput" />
      </div>
      <div id="${id}.countyContainer" style="clear: both;">
        <label for="${id}.countyInput">County:</label>
        <input id="${id}.countyInput" />
      </div>
    </div>
  </div>
</div>
