<div id="${id}" dojoAttachPoint="containerNode" widgetsintemplate="true" class="dijit dijitReset dijitLeft dijitInline">    
  <div id="${id}.ddButton" dojotype="dijit.form.DropDownButton" iconclass="iconZoomer">
    <span>Zoom To...</span>    
    <div id="${id}.ddDialog" dojotype="dijit.TooltipDialog" title="Zoom To" dojoAttachPoint="dialog">
      <div id="${id}.countryContainer" style="padding: 0 0 10px 0;">
        <label for="${id}.countryInput">Country:</label>
        <input id="${id}.countryInput" />
      </div>
    </div>
  </div>
</div>
